/node_modules
/vendor
/.git
/.github
/.env
/.env.example
/storage/*.key
/storage/logs/*
/.idea
/.vscode
/tests
/docker
/docker-compose.yml
/_ide_helper.php
/.editorconfig
/.gitattributes
/.gitignore
/progress.md
/memory.md
*.md
